<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
        .main{
            text-align: center; /*让div内部文字居中*/
            background-color: rgba(240, 240, 240, 0.99);
            border-radius: 20px;
            width: 400px;
            height: 450px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body style="background-color: rgba(151,203,255,0.91);">
    <div class="main">
        <h1 style="margin-top: 50px">集群管理</h1>
        <div>
            <a href="{% url 'connection_cluster' %}"><button type="button" class="layui-btn layui-btn-primary layui-btn-lg" style="margin-top: 100px;">管理集群</button></a>
        </div>
    </div>
</body>
</html>

